**IMPORTAMOS LIBRERIAS**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import plot_tree
from sklearn import metrics
import numpy as np

**IMPORTAMOS CSV**

In [2]:
train_c = pd.read_csv("../Data/train_c.csv")
test_c = pd.read_csv("../Data/test_c.csv")

In [3]:
train_c.head()

   id  carat  cut  color  clarity  depth  table  price
0   0   1.14    5      4        6   61.0   56.0   9013
1   1   0.76    5      3        4   62.7   57.0   2692
2   2   0.84    5      4        5   61.4   56.0   4372
3   3   1.55    5      3        5   62.0   57.0  13665
4   4   0.30    5      4        2   61.9   57.0    422

In [4]:
# seleccionamos predictor y resultados

X = train_c.drop(['id', 'price'], axis = 1)
y = train_c.price

In [5]:
# creamos train_test_split
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

In [6]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 6) (8091, 6) (32364,) (8091,)

**PROBAREMOS VARIOS MODELOS DE ML**

In [7]:
models = {
    'Linear': LinReg(),
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'SGD': SGDRegressor(),
    'KN': KNeighborsRegressor(),
    'Grad': GradientBoostingRegressor(),
    'DTree': DecisionTreeRegressor(),
    'RForest': RandomForestRegressor(),}

In [8]:
for name, model in models.items():
    print("Training: ", name)
    model.fit(X_train, y_train)

Training:  Linear
Training:  Ridge
Training:  Lasso
Training:  SGD
Training:  KN
Training:  Grad
Training:  DTree
Training:  RForest

In [9]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f'RMSE {model} =>   ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

RMSE LinearRegression() =>    1258.5966146046221
RMSE Ridge() =>    1258.600001100852
RMSE Lasso() =>    1258.6267988234094
RMSE SGDRegressor() =>    2881198.53333568
RMSE KNeighborsRegressor() =>    1907.5106366818784
RMSE GradientBoostingRegressor() =>    628.8993400758358
RMSE DecisionTreeRegressor() =>    745.8766856894828
RMSE RandomForestRegressor() =>    560.8102932503282

**NUESTRO MEJOR ERROR LO ENCONTRAMOS EN:           
    - RandomForestRegressor() => RMSE :  578.4409681899039**

In [10]:
forest = RandomForestRegressor()
forest.fit(X_train,y_train)

RandomForestRegressor()

In [11]:
test = test_c.drop(["id"], axis=1)
test.head(1)

   carat  cut  color  clarity  depth  table
0    1.0    1      1        2   56.3   64.0

In [13]:
test_c.head(1)

   id  carat  cut  color  clarity  depth  table
0   0    1.0    1      1        2   56.3   64.0

In [12]:
y_pred = forest.predict(test)

In [14]:
test_c["y_pred"] = y_pred

In [15]:
submission1 = test_c[["id","y_pred"]]
submission1.head()

   id   y_pred
0   0  3248.14
1   1  3017.92
2   2  3397.91
3   3  3194.20
4   4  5366.85

In [20]:
submission1.columns = ['id', 'price']

In [22]:
submission1.set_index('id').head()

      price
id
0   3248.14
1   3017.92
2   3397.91
3   3194.20
4   5366.85

In [23]:
submission1.to_csv("../Data/submission1.csv")

In [24]:
quepasaaaa = pd.read_csv("../Data/submission1.csv", index_col = 0) 
quepasaaaa.head()

   id    price
0   0  3248.14
1   1  3017.92
2   2  3397.91
3   3  3194.20
4   4  5366.85