**IMPORTAMOS LIBRERIAS**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.svm import SVR
from sklearn.tree import plot_tree
from sklearn import metrics
import numpy as np

**IMPORTAMOS AMBOS CSV**        
    - Train           
    - Test

In [2]:
train_c = pd.read_csv("../Data/train_c.csv")
test_c = pd.read_csv("../Data/test_c.csv")

In [30]:
train_c.head(1)

   id  carat  cut  color  clarity  depth  table  price
0   0   1.14    5      4        6   61.0   56.0   9013

In [29]:
test_c.head(1)

   id  carat  cut  color  clarity  depth  table   y_pred
0   0    1.0    1      1        2   56.3   64.0  3326.43

**SELECCIONAMOS PREDICTOR Y RESULTADOS**

In [5]:
X = train_c.drop(['price','id'], axis = 1)
y = train_c.price

In [28]:
X.head(1)

   carat  cut  color  clarity  depth  table
0   1.14    5      4        6   61.0   56.0

In [31]:
y[:1]

0    9013
Name: price, dtype: int64

**CREAMOS TRAIN_TEST_SPLIT CON UN 80% - 20%**

In [8]:
# creamos train_test_split

X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

In [9]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 6) (8091, 6) (32364,) (8091,)

**PROBAREMOS VARIOS MODELOS**

In [10]:
models = {
    'Linear': LinReg(),
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'SGD': SGDRegressor(),
    'KN': KNeighborsRegressor(),
    'Grad': GradientBoostingRegressor(),
    'DTree': DecisionTreeRegressor(),
    'RForest': RandomForestRegressor(),}

**LOS ENTRENAMOS**

In [11]:
for name, model in models.items():
    print("Training: ", name)
    model.fit(X_train, y_train)

Training:  Linear
Training:  Ridge
Training:  Lasso
Training:  SGD
Training:  KN
Training:  Grad
Training:  DTree
Training:  RForest

**VEMOS LOS RESULTADOS**

In [12]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),f'=> RMSE => {model}')

1241.539448910807 => RMSE => LinearRegression()
1241.5415671759315 => RMSE => Ridge()
1241.5663879227234 => RMSE => Lasso()
73503012.28773797 => RMSE => SGDRegressor()
1917.1903410116256 => RMSE => KNeighborsRegressor()
629.2846446145301 => RMSE => GradientBoostingRegressor()
716.503067483076 => RMSE => DecisionTreeRegressor()
562.6715385792502 => RMSE => RandomForestRegressor()

**NUESTRO MEJOR ERROR LO ENCONTRAMOS EN RANDOM FOREST***

**LO ENTRENAMOS Y HACEMOS NUESTRA PREDICCIÓN**

In [13]:
forest = RandomForestRegressor()
forest.fit(X_train,y_train)

RandomForestRegressor()

In [14]:
woid = test_c.drop(["id"], axis=1)

In [15]:
y_pred = forest.predict(woid)

**VEAMOS EL MEAN_SQUARED_ERROR**          
**LA DIFERENCIA ENTRE NUESTRO VALOR Y EL ESTIMADO**

In [16]:
mean_squared_error(y_train,forest.predict(X_train)).round(3)

44296.943

**INCLUIMOS LA PREDICCIÓN EN NUESTRO DATAFRAME**

In [18]:
test_c["y_pred"] = y_pred

In [19]:
test_c.head(1)

   id  carat  cut  color  clarity  depth  table   y_pred
0   0    1.0    1      1        2   56.3   64.0  3326.43

**SELECCIONAMOS LAS COLUMNAS QUE KAGGLE NOS SOLICITA**

In [25]:
submission1 = test_c[["id","y_pred"]]
submission1.head(1)

   id   y_pred
0   0  3326.43

**SETEAMOS ID COMO INDEX**

In [26]:
test1 = submission1.set_index('id')
test1.head(1)

     y_pred
id
0   3326.43

**CAMBIAMOS EL NOMBRE DE LA COLUMNA**

In [27]:
test1.columns = ['price']
test1.head(1)

      price
id
0   3326.43

**EXPORTAMOS LA SUBMISSION EN FORMATO CSV**

In [ ]:
test1.to_csv("../Data/submission1.csv")